input{
    width: 90%;
    height: 50px;
    margin-left: 50px;
    font-size: 30px;
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    color: black;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  li{
    width: 100px;
    height: 50px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .li--girl{
    background-color: pink;
  }
  .li--boy{
    background-color: rgb(98, 98, 241);
  }
  .btn--visible{
    opacity: 1;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: rgb(214, 214, 214);
    margin: 0 50px;
  }
  .btn--invisible{
    opacity: 0;
  }
  .container{
      text-align: center;
  }
  p{
      font-size: 20px;
  }
  .tag{
      position: relative;
  }
  .close{
      position: absolute;
      right: 5px;
      top: 5px;
      display: block;
      background-color: rgb(173, 40, 40);
      height: 20px;
      width: 20px;
      border: none;
      text-align: center;
      color: white;
      border-radius: 4px;
  }
  .close-invisible{
      display: none;
  }